#python code owners
modules @metropolis-sdg-team/metropolis-sdg-codeowners

#notebooks code owners
notebooks @metropolis-sdg-team/metropolis-sdg-codeowners

#data code owners
data @metropolis-sdg-team/metropolis-sdg-codeowners

#build/ops code owners
deploy @metropolis-sdg-team/metropolis-sdg-codeowners
.github @metropolis-sdg-team/metropolis-sdg-codeowners
pyproject.toml @metropolis-sdg-team/metropolis-sdg-codeowners

